{{>head}}
{{>navbar}}
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-sm-12 mx-auto">
                <div class="row roww">
                    <div class="col-md-6 col-sm-12 main_header_right rightt">
                        <figure>
                            <img src="image/404.png" alt="Oops " class="img-fluid" title="saurav" style="height: 50rem;">
                        </figure>
                       </div>
                    <div class="col-md-6 col-sm-12 main_header_left leftt">
                        
                        <h1><span class="text-clear">Oops !</span></h1>
                        <p>The Page You Trying To Visit Doesn't Exist
                        </p>
                        <button><a href="/">go back</a></button>
                        <!-- <a href="/weather" target="_blank"><button>About me</button></a> -->
                    </div> 
                </div>
            </div>
        </div>
    </div>
{{>footer}}