<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-sm-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-sm-12 main_header_right">
                        <figure>
                            <img src="image/about.png" alt="Oops " class="img-fluid" title="saurav">
                        </figure>
                       </div>
                    <div class="col-md-6 col-sm-12 main_header_left">
                        
                        <h1>I am a <span class="text-clear">MERN stack developer</span></h1>
                        <p>Welcome to weather app this app was created by me</p>
                        <!-- <a href="/weather" target="_blank"><button>About me</button></a> -->
                    </div>
                
                </div>
            </div>
        </div>
    </div>
   
  {{>footer}}
</body>
</html>