 <!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-sm-12 mx-auto">
           <div class="maincontent">
            <form  class="temp_form">
                <input type="text" id="cityname" placeholder="Enter your city" autocomplete="off">
                <input type="submit" value="search" id="submitbtn"> 
            </form>
           </div>  
           <div class="tempInformation">
            <div class="top_layer">
         <p id="day">tuesday</p>
         <p id="today_data">13</p>
            </div>
            <div class="main_layer">
                <p id="city_name">Search For City</p>
                <div class="middle_layer data_hide">
                    <p ><span id="temp">0</span><sup>o</sup> C</p>
                    <p id="temp_status"></p>
                </div>
            </div>
           </div>   
                </div>
            </div>
        </div>
   
   {{>footer}}
   <script src="js/main.js"></script>
</body>
</html>